$icon-font-path: '../fonts/';

// Override the default brand colors ...
$brand-primary:             #02b3e4;
$brand-success:             #7d97ad;
$brand-info:                #2d3c49;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;

// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

body {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    background: #f8f8f8;
}

.hero-font {
    font-weight: 900;
}

.hero-image {
    border-radius: 50%;
    border: 3px solid #fff;
}

.parallax-window {
    background-image: url(../images/mountain.jpg);
    background-size: cover;
}

.about {
    background-image: url(../images/horizon.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}


// OVERRIDES ...

.display-4 {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}

.navbar {
    border-radius: 0;

    .navbar-brand {
        line-height: 40px;
    }
}

.jumbotron {
    h1, p {
        // text-shadow: 2px 2px 0 #fff;
    }

    @include media-breakpoint-only(xs) {
        .display-4 {
            font-size: 2rem; 
        }
        .lead {
            font-size: 1rem;
        }
    }
}

@include media-breakpoint-only(xs) {
    .card {
        margin-bottom: 20px;
    }
}

.card-columns {
    @include media-breakpoint-only(sm) {
        column-count: 2;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(lg) {
        column-count: 3;
    }
    @include media-breakpoint-only(xl) {
        column-count: 3;
    }
}
